<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        include ../css-contents/main-css.pug
    body
        block content
    
    include ../js-contents/main-js.pug